<div class="container">
  <h1 class="pull-left">GRTD <small>summer</small></h1>
  <div class="case-search">
    <h3 class="text-center">Buscar Casos</h3>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-sm-12 col-md-6">
        <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Usuario">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="DN">
            </div>
            <div class="form-group">
              <input class="form-control" type="email" placeholder="Mail">
            </div>
            <button type="submit" class="btn btn-default">social</button>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
    <h4 class="text-center">Selecciona un Canal</h4>
  </div>
</div>
