<div class="container">

  <h1>GRTD <small>summer</small></h1>

  <div class="block_header">
    <table class="table table-striped" ng-controller="ResourcesCtrl">
      <thead>
        <tr>
          <th></th>
          <th>Asesor</th>
          <th>Actividad</th>
          <th>Tiempo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>Mark</td>
          <td>Otto</td>
          <td><button type="button" class="btn btn-custom"><span class="glyphicon glyphicon-refresh"></span> Liberar</button></td>
        </tr>
        <tr>
          <td></td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td><button type="button" class="btn btn-custom"><span class="glyphicon glyphicon-refresh"></span> Liberar</button></td>
        </tr>
        <tr>
          <td></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td><button type="button" class="btn btn-custom"><span class="glyphicon glyphicon-refresh"></span> Liberar</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h1>Dashboard</h1>

  <div class="dashboard row">
    <div class="col-xs-12 col-sm-4 col-md-4 well-sm">
      <span class="text-top">Sit amet noe</span>
      <div  class="circle">
        <div>90</div>
      </div>
      <span class="text-button">Lorem Ipsum</span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 well-sm">
      <span class="text-top">Sit amet noe</span>
      <div  class="circle">
        <div>90</div>
      </div>
      <span class="text-button">Lorem Ipsum</span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 well-sm">
      <span class="text-top">Sit amet noe</span>
      <div  class="circle">
        <div>90</div>
      </div>
      <span class="text-button">Lorem Ipsum</span>
    </div>
  </div>
  <!--
  <h1>dForma</h1>
  <div id="dForma"></div>
  -->
</div>
