<div class="container">

  <h1>GRTD <small>summer</small></h1>

  <div class="block_header">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Asesor</th>
          <th>Actividad</th>
          <th>Tiempo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>Mark</td>
          <td>Otto</td>
          <td><button type="button" class="btn btn-custom"><span class="glyphicon glyphicon-refresh"></span> Liberar</button></td>
        </tr>
        <tr>
          <td></td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td><button type="button" class="btn btn-custom"><span class="glyphicon glyphicon-refresh"></span> Liberar</button></td>
        </tr>
        <tr>
          <td></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td><button type="button" class="btn btn-custom"><span class="glyphicon glyphicon-refresh"></span> Liberar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container" ng-controller="ResourcesCtrl">
  <h1>Dashboard</h1>
  <div class="dashboard row" ng-repeat="status in items">
    <div class="col-xs-12 col-sm-4 col-md-4 well-sm">
      <span class="text-top">Firmados</span>
      <div  class="circle">
        <div>{{status.Firmados}}</div>
      </div>
      <span class="text-button">Firmados</span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 well-sm">
      <span class="text-top">Disponibles</span>
      <div  class="circle">
        <div>{{status.Disponibles}}</div>
      </div>
      <span class="text-button">Firmados</span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 well-sm">
      <span class="text-top">No Disponibles</span>
      <div  class="circle">
        <div>{{status.NoDisponibles}}</div>
      </div>
      <span class="text-button">No Disponibles</span>
    </div>
  </div>
</div>
