<div class="container" ng-controller="TabsCtrl">
  <div class="row">
    <div class="col-sm-4"><h1>GRTD <small>summer</small></h1></div>
    <!--
    <div class="col-sm-4">
      <div class="btn-group btn-group-justified">
        <div ng-show="status.nodo == 1" class="btn-group btn-group-lg">
          <button type="button" ui-sref="cases" class="btn btn-admin"><span class="glyphicon glyphicon-thumbs-up"></span> cases</button>
        </div>
        <div ng-show="status.nodo == 1" class="btn-group btn-group-lg">
          <button type="button" ui-sref="monitor" class="btn btn-admin"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        </div>
        <div ng-show="status.nodo == 1" class="btn-group btn-group-lg">
          <button type="button" ui-sref="mails" class="btn btn-admin"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    -->
    <div class="col-sm-3 col-sm-offset-5">
      <div class="btn-group btn-group-justified">
        <div class="btn-group btn-group-lg">
          <button type="button" ng-click="users = !users" ng-class="{ active: users }" class="btn btn-grtd"><span class="glyphicon glyphicon-user"></span></button>
        </div>
        <div class="btn-group btn-group-lg">
          <button type="button" ng-click="state = !state" ng-class="{ active: state }" class="btn btn-grtd"><span class="glyphicon glyphicon-flag"></span></button>
        </div>
        <div class="btn-group btn-group-lg">
          <button type="button" ng-click="setting = !setting" ng-class="{ active: setting }" class="btn btn-grtd"><span class="glyphicon glyphicon-wrench"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row settings" ng-show="state">
    <h1>Status</h1>
    <ul class="list-inline text-center">
      <li><h3><span class="text">Facebook</span> <span class="glyphicon glyphicon-ok"></span></h3></li>
      <li><h3><span class="text">Twitter</span> <span class="glyphicon glyphicon-ok"></span></h3></li>
    </ul>
  </div>
  <div class="row settings" ng-show="setting" ng-controller="SettingsCtrl">
    <h1><span class="glyphicon glyphicon-cog"></span> Settings</h1>
    <form class="form-inline" role="form">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">Nivel/Serv</div>
                <input class="form-control input-set input-sm" type="text" >
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">En Espera</div>
                <input class="form-control input-set input-sm" type="text" >
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">TME(seg)</div>
                <input class="form-control input-set input-sm" type="text" >
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">TMO(seg)</div>
                <input class="form-control input-set input-sm" type="text" >
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">Umbral(seg)</div>
                <input class="form-control input-set input-sm" type="text" >
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button ng-click="updateSettings()" class="btn btn-default">Guardar</button>
          </div>
        </div>
    </form>
  </div>

  <div class="row"ng-show="users">
    <div class="row users_section" ng-controller="UsersCtrl">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th><span class="glyphicon glyphicon-user"></span> Asesor</th>
              <th><span class="glyphicon glyphicon-random"></span> Actividad</th>
              <th><span class="glyphicon glyphicon-time"></span> Tiempo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users" class="repeat-animation">
              <td></td>
              <td>{{user.cLogin_Nombre}} {{user.cLogin_Apellidos}}</td>
              <td>
                <div ng-if="user.nActividad_ID == '1'">Login</div>
                <div ng-if="user.nActividad_ID == '2'">Logout</div>
                <div ng-if="user.nActividad_ID == '3'">Ready</div>
                <div ng-if="user.nActividad_ID == '4'">Not Ready</div>
                <div ng-if="user.nActividad_ID == '5'">Luch</div>
                <div ng-if="user.nActividad_ID == '6'">BathRoom</div>
                <div ng-if="user.nActividad_ID == '7'">Meeting</div>
                <div ng-if="user.nActividad_ID == '8'">In Attention</div>
              </td>
              <td>{{user.Tiempo}}</td>
              <td>
                <div ng-if="user.nActividad_ID == '8'">
                  <button type="button" class="freedom-button"><span class="glyphicon glyphicon-refresh"></span> Liberar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="spinner-64" ng-show="loading"></div>
    </div>
  </div>

</div>

<div class="multi-dashboard" ng-controller="MultiDashCtrl">
  <div class="multi-header">
    <h1 class="text-center">Dashboard</h1>
    <div id="status-buttons" class="text-center">
      <a ng-show="status.nodo == null" ui-sref-active="active" ui-sref=".main"><span>1</span>General</a>
      <a ng-show="status.nodo == 1" ui-sref-active="active" ui-sref=".stockpile"><span>2</span>Reservas</a>
      <a ng-show="status.nodo == 1" ui-sref-active="active" ui-sref=".atc"><span>3</span>ATC</a>
      <a ng-show="status.nodo == 1" ui-sref-active="active" ui-sref=".marketing"><span>4</span>Marketing</a>
    </div>
  </div>
  <div id="multi-form">
    <div id="form-views" ui-view></div>
  </div>
</div>
